{% block content %}
<div class="container">
    <form action="{% url 'blog_app:archive' %}" method="post">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Search Archive</div>
                <div class="panel-body">
                    {% if error_message %}
                        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}
                   
                    <div class="form-group clearfix">
                        <label for="{{ form.select.id_for_label }}" class="col-md-4 control-label text-right">Select:<span class="text-red">*</span>:</label>
                        <div class="col-md-6">
                            {{ form.select }}
                        </div>
                    </div>
                    
                    <div class="form-group clearfix">
                        <label for="{{ form.search_text.id_for_label }}" class="col-md-4 control-label text-right">Enter Text<span class="text-red">*</span>:</label>
                        <div class="col-md-6">
                            {{ form.search_text }}
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-md-offset-4">
                        <input type="submit" value="Search" class="btn btn-success">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


{% for blog in result %}
{{ blog.name }}
{% endfor %}

{% endblock content%}