{% block content %}
<div class="container">
    <form action="{% url 'blog_app:comment' entry.id%}" method="post">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Add Comment</div>
                <div class="panel-body">
                    {% if error_message %}
                        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}
                   
                    <div class="form-group clearfix">
                        <label for="{{ form.comment.id_for_label }}" class="col-md-4 control-label text-right">comment Here<span class="text-red">*</span>:</label>
                        <div class="col-md-6">
                            {{ form.comment }}
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <input type="submit" value="create group" class="btn btn-success">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content%}